.spinner-border
{
    border: 0.25em solid var(--primary);
    border-right-color: transparent;
}

.toast
{
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 99999;
}

.toast .toast-body
{
    padding: 10px 29px;
    font-weight: bold;
}

.invalid-feedback
{
    margin-top: 10px;
}

.ui-sortable tr
{
    cursor: move;
}

#data-tables tbody tr td:last-child a
{
    margin-right: 10px;
}

.colorWhite
{
    color: #fff !important;
}

.updateImages
{
    height: 100px;
    object-fit: contain;
    box-shadow: 0 0 25px -10px #00000042;
    border-radius: 5px;
    margin-top: 10px;
}


.updateImagesDeleteButton
{
    position: relative;
    top: 10px;
    transition: .2s;
    padding: 3px 20px 7px;
}

.updateImagesDeleteButton:hover
{
    transition: .2s;
    box-shadow: 0 0 25px -10px #00000042;
    border-radius: 5px;
    border: 1px solid #00000029;
}

.updateImagesDeleteButton span
{
    position: relative;
    top: 2px;
    margin-bottom: 20px;
}

.nav-item.active svg g
{
    stroke: #fff;
}

.form-control-range:hover
{
    opacity: 1;
}

.form-control-range
{
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.form-control-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary);
    cursor: pointer;
}

.form-control-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary);
    cursor: pointer;
}

.header-navbar .navbar-container .dropdown-menu-media .media-list .list-item {
    border: none;
    border-bottom: 1px solid #ebe9f1;
    display: flex;
    flex-grow: 1;
    padding: 0.9rem 1.28rem;
}

.me-1 {
    margin-right: 1rem!important;
}

.header-navbar .navbar-container ul.navbar-nav li.dropdown-notification .list-item-body .media-heading {
    color: #6e6b7b;
    line-height: 1.2;
    margin-bottom: 0;
}

.bs-stepper-content .content .card .card-body
{
    min-height: 250px;
}
